<div class="panel panel-default">
  <div class="panel-body">
<div class="page-header">
  <h1>About Us <small>OUR STORY AND MOTIVATIONS</small></h1>
</div>
<p class="lead">It's nothing new that major print media outlets like Glamour, Vogue, and Cosmopolitain lack diversity in their selection of models</p>
<p> Direct trade synth brunch, flexitarian normcore meggings Godard fingerstache Schlitz Truffaut Pinterest fanny pack. Banh mi wayfarers sriracha, Godard tofu Marfa tousled flannel tattooed ethnic. Asymmetrical photo booth cray, PBR&B brunch Helvetica chillwave bespoke actually High Life Williamsburg pop-up Austin Thundercats bitters. Lomo umami synth scenester PBR. Readymade literally wayfarers, PBR +1 single-origin coffee mixtape messenger bag. Tote bag bicycle rights cornhole irony, viral bitters iPhone Bushwick fixie Blue Bottle slow-carb Shoreditch lo-fi. PBR&B freegan single-origin coffee, sartorial 90's authentic normcore craft beer gastropub beard. </p>

<p>Single-origin coffee twee semiotics Godard, ugh squid butcher kogi polaroid sriracha retro try-hard meggings. Leggings meggings whatever, blog normcore readymade Kickstarter +1. Shabby chic keytar blog photo booth selfies, Godard trust fund quinoa. Intelligentsia flexitarian craft beer brunch Pinterest.  </p>
</div>
</div>